
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    @RenderPage("_Head.cshtml")

</head>

<body class="header-fixed header-fixed-space">
    <form method="post" action="./" id="aspnetForm">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var theForm = document.forms['aspnetForm'];
        if (!theForm) {
            theForm = document.aspnetForm;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
                    //]]>
    </script>


    <script src="~/Assets/Client/App_Themes/assets/WebResource.axd" type="text/javascript"></script>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
               value="/wEdAAMPZGFRd4lzbowGl0Ebwdd/TZFNVvBVKfJ7T2aVRQWnAHOA3UaRLq+KRl/UAwmjtbC4U9Cvbgc61IHW4skYM3ug2EBQ7N/SkXcY8AGANfnDtw==" />
    </div>
    <div class="wrapper page-option-v1">
        <!--=== Header ===-->
        @RenderPage("_Header.cshtml")
        <!--=== End Header ===-->
        <!--=== Slider ===-->
        @RenderPage("_Slider.cshtml")
        <!--=== End Slider ===-->
        <!--=== Service Block ===-->
        @RenderPage("_ServiceBlock.cshtml")
        <!--=== End Service Block ===-->
        <!--=== Main content ===-->
        @RenderBody()
        <!--=== End main content ===-->
        <!--=== Chỉ dẫn cho người dùng nước ===-->
        <!--/container-->
        <!--=== End Chỉ dẫn cho người dùng nước  ===-->
        <!--=== Footer Version 1 ===-->
        @RenderPage("_Footer.cshtml")
        <!--=== End Footer Version 1 ===-->
    </div>
    <!--/wrapper-->

    @RenderPage("_Script.cshtml")
</body>

</html>